<h1>Tu Carrito de Compras</h1>
<section id="cart" class="section-p1">
<% if @cart.cart_items.any? %>
  <table width="100%">
    <thead>
    <tr>
      <th>Foto</th>
      <th>Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
      <th>Acción</th>
    </tr>
    </thead>
    <tbody>
    <% @cart.cart_items.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.product.image, class: 'product-image' %></td>
        <td><%= cart_item.product.name %></td>
        <td><%= number_to_currency(cart_item.product.price) %></td>
        <td>
          <%= form_with(model: cart_item, url: update_cart_item_cart_path(cart_item), method: :patch) do |form| %>
            <%= form.number_field :quantity %>
            <%= form.submit 'Actualizar' %>
          <% end %>
        </td>
        <td><%= number_to_currency(cart_item.subtotal) %></td>
        <td>
          <%= form_with(model: cart_item, url: remove_from_cart_cart_path(cart_item), method: :delete, data: { confirm: '¿Estás seguro?' }) do |form| %>
            <%= form.submit 'Eliminar' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
<section id="cart-add" class="section-p1">
  <div id="subtotal">
  <h3>Total en el carrito: <%= number_to_currency(@total) %></h3>
    <button class="normal">
      <%= link_to "Continuar Comprando", products_shop_path %>
    </button>
    <button class="normal">
      <%= link_to "Realizar Pedido", new_order_path %>
    </button>
<% else %>
  <p>Tu carrito está vacío.</p>
    <button class="normal">
     <%= link_to "Ir de Compras", products_shop_path %>
    </button>
<% end %>
  </div>
</section>
