<h1>Editar Producto</h1>

<%= form_for @product do |f| %>
  <div class="field">
    <%= f.label :name, 'Titulo' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description, 'Descripción' %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price, 'Valor' %>
    <%= f.number_field :cost %>
  </div>

  <div class="field">
    <%= f.label :price, 'Precio' %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :price, 'Cantidad' %>
    <%= f.number_field :stock %>
  </div>

  <div class="actions">
    <%= f.submit 'Actualizar Producto' %>
  </div>
<% end %>

<%= link_to 'Cancelar', product_path(@product) %>