<section id="products" class="section-p1">
  <div class="container">
    <div class="title"><h2>Listado de productos</h2></div>
    <div class="button">
      <%= link_to 'Nuevo Producto', new_product_path, class: "btn btn-warning mx-1" %>
    </div>
  </div>
<table width="100%">
  <thead>
  <tr>
    <th>Imagen</th>
    <th>Id</th>
    <th>Titulo</th>
    <th>Descripción</th>
    <th>Valor</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= image_tag product.image if product.image.attached? %></td>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.cost) %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.stock %></td>
      <td>
        <%= link_to 'Ver', product , class: "btn btn-info mx-1"%>
        <%= link_to 'Editar', edit_product_path(product), class: "btn btn-primary mx-1" %>
        <%= button_to "Eliminar", product, method: :delete, class: "btn bg-danger bg-gradient" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</section>
