<section id="page-header">
  <h2>A COMPRAR</h2>
  <p>Disfruta de todos nuestros productos</p>
</section>
<section id="product1" class="section-p1">
  <div class="product-container">
        <% @products.each do |product| %>
            <div class="product">
                <% if product.image.attached? %>
                  <%= image_tag product.image, class: 'product-image' %>
                <% end %>
              <%= link_to "Ver producto", show_user_product_path(product) %>
              <div class="description">
                <h5><%= product.name %></h5>
                <h4><%= number_to_currency(product.price) %></h4>
                   <% if @user&.role == "user" %>
                    <%= form_with(model: product, url: add_to_cart_path(product), method: :post) do |form| %>
                    <%= button_tag type: "submit" do %>
                        <i class="fa-solid fa-cart-plus cart"></i>
                      <% end %>
                    <% end %>
                  <% end %>
              </div>
            </div>
        <% end %>
  </div>
</section>
<section id="pagination" class="section-p1">
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
</section>

<section class="relative">
  <div class="container px-4 mx-auto">
    <div class="max-w-3xl mb-20 mx-auto text-center">
      <h2 class="mt-8 mb-10 text-4xl font-semibold font-heading">Productos más populares 🦄</h2>
    </div>
    <div class="flex flex-wrap -m-3 mb-16">
      <%= render partial:'product', collection:@products %>
    </div>
    <div class="text-center">
      <% if @products.next_page.present? %>
        <%= link_to "Ver más productos", products_path(page:@products.next_page), class:"mb-4 px-6 py-4 text-sm text-white font-semibold bg-red-400 hover:bg-red-300 rounded transition duration-200" %>
      <% end %>
    </div>
  </div>
</section>