
<section id="product-details" class="section-p1">
  <div class="single-product-image">
    <% if @product.image.attached? %>
      <%= image_tag @product.image %>
    <% end %>
  </div>
  <div class="single-product-details">
    <h4><%= @product.name %></h4>
    <h2> <%= number_to_currency(@product.price) %></h2>
    <h4>Detalles del Producto</h4>
    <span><%= @product.description %></span>
  </div>


</section>
<section>
  <%= link_to "Editar este producto", edit_product_path(@product) %> |
  <%= link_to "Ir al listado de productos", products_path %>
</section>