<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Tiendas de Barrio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag 'style.css' %>
    <script src="https://kit.fontawesome.com/c494c725de.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <section id="header">
      <a href=""> <%= image_tag "logo-as.jpeg", height: 50 %></a>
      <div>
        <ul id="navbar">
          <li><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Tienda", products_shop_path%></li>
          <li><% if user_signed_in? %> <!-- Verifica si el usuario ha iniciado sesión -->
            <li><%= link_to "Carrito", carts_show_path%></li>
            <li><%= link_to "Ordenes", orders_path%></li>
            <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
               <% if @user && @user.admin?%>
              <li><%= link_to 'Administrador', admin_panel_path %></li>
        <% else %>
              <!-- Código para otros usuarios o cuando @user es nil -->
               <% end %>
          <% else %>
            <%= link_to "Iniciar sesión", new_user_session_path %>
          <% end %></li>
        </ul>
      </div>
    </section>
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
    <footer class="section-p1">
      <div class="col">
        <a href="" class="logo"> <%= image_tag "logo-as.jpeg", height: 50 %></a>
        <h4>Contacto</h4>
        <p><strong>Dicección:</strong>Carrera 69 # 70A - 25, Bogotá</p>
        <p><strong>Telefono:</strong>+57 3227979809</p>
        <p><strong>Horario:</strong>Lunes a Viernes, 8:00 am - 5:00 pm</p>
      </div>
      <div class="copyright">
        <p>© 2024, Andres Felipe Sánchez Galindo - ASTRONIX DIGITAL</p>
      </div>
    </footer>
  </body>
</html>
